<div class="row">
  <div class="col-12">
    <h2>
      {{ spendingList.name }}
    </h2>
  </div>

  <div class="col-4">
    <input
      #spendingItemValueInput
      class="new-item"
      type="number"
      placeholder="Amount"
      [value]="spendingItemValue"
      (keypress)="
        addNewSpendingListItem(
          $event,
          spendingItemValueInput.value,
          spendingItemNameInput.value
        )
      "
    />
  </div>

  <div class="col-8">
    <input
      #spendingItemNameInput
      class="new-item"
      type="text"
      placeholder="Description"
      [value]="spendingItemName"
      (keypress)="
        addNewSpendingListItem(
          $event,
          spendingItemValueInput.value,
          spendingItemNameInput.value
        )
      "
    />
  </div>
</div>

<div
  class="row"
  *ngIf="spendingList.list && spendingList.list.length; else noSpendingMessage"
>
  <ng-container *ngFor="let item of spendingList.list">
    <!-- disabled for now -->
    <div class="col-4">
      <input type="number" disabled [value]="item.spendingItemValue" />
    </div>

    <!-- disabled for now -->
    <div class="col-8">
      <input type="text" disabled [value]="item.spendingItemName" />
    </div>
  </ng-container>
</div>

<ng-template #noSpendingMessage> No spendings on the list... </ng-template>
<!--
<div
  *ngIf="spendingList.list && spendingList.list.length"
  class="col-12 list__total"
>
  <h3>Total: {{ spendingList.listTotal | currency: "HUF":"":"0.0-0" }}.- Ft</h3>
</div> -->
